
block content
div(style="margin-top: 30px ")
    if code == "00"
        p(style="text-align: center;fontsize= 50px")  GD thành công
    else
        p(style="text-align: center; color: red") GD thất bại
    p(style="text-align: center")
        a.btn.btn-default(href='http://localhost:3000/checkout/00') Xác nhận